@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|exo:100,200,300,400,500,600,700');

body {
 background-color: #2b78e4;    /* Royal Blue */  
      line-height: normal;
}

/*----------------------------------------------------------------*/
/* Footer                                                         */ 
/*----------------------------------------------------------------*/
footer {
 background-color: #525252;    /* Gray */  
       min-height: 60px;
}

.list-band-social-group {
    padding: 20px;
 text-align: center;
}

.list-band-social-link {
   color: #ffff00;  /* Yellow */
 padding: 20px;
}

/*----------------------------------------------------------------*/
/* Navigation Menu                                                */ 
/*----------------------------------------------------------------*/
.ui-menu-color-home {
 background-color: #e67e22;    /* Tahiti Gold */ 
}

.ui-menu-color-contact {
 background-color: #009e0f;    /* Strong Green */ 
}

.ui-menu-color-discography {
 background-color: #2b78e4;    /* Royal Blue */  
}

.ui-menu-color-videology {
 background-color: #525252;    /* Gray */  
}

#nav {
 margin: 0;
}

#nav li {
 padding: 0;
}

.menuitem {
      font-family: "Verdana", sans-serif;
       min-height: 60px;
       text-align: center;
}

.hvr-sweep-to-bottom {
           color: #ffff00;   /* Yellow */
     padding-top:20px; 
      text-align: center;
 text-decoration: none;
}


/*----------------------------------------------------------------*/
/* Heading (Welcome)                                              */ 
/*----------------------------------------------------------------*/
header {
 margin: 0;
}

.welcome-heading {
      text-align: center;
}

.welcome-title {
     font-family: "Roboto", sans-serif;
     font-weight: bold;
           color: #ffff00;   /* Yellow */
 text-decoration: none;
}

.photo-top {
          background: url("../images/Website/Yello-photo-merged.jpg");
 background-position: center; 
   background-repeat: no-repeat;
     background-size: cover;
          min-height: 330px; 
             padding: 0;
          transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}  

/*----------------------------------------------------------------*/
/* Heading (Biography)                                            */ 
/*----------------------------------------------------------------*/

/* clock font icon */
.fa-clock-o { 
 color: #ffff00;   /* Yellow */
} 

.biography-heading {
      font-family: "Verdana", sans-serif;
        font-size: 36px;
      font-weight: bold;
  text-decoration: none;
}

.biography-text {
 font-family: "Verdana", sans-serif;
   font-size: 14px;
  text-align: left;
}

/*----------------------------------------------------------------*/
/*  Heading (Band Infomation)                                     */ 
/*----------------------------------------------------------------*/

/* info font icon */
.fa-info { 
 color: #ffff00;   /* Yellow */
} 

.band-heading {
     font-family: "Verdana", sans-serif;
       font-size: 36px;
     font-weight: bold;
 text-decoration: none;
}

.band-text {
 font-family: "Verdana", sans-serif;
   font-size: 14px !important; /* overrides inherited value /*
 padding-top: 20px;
  text-align: left;
}