@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|exo:100,200,300,400,500,600,700');

body {
 background-color: #5bc0eb;    /* Blue Jeans */  
      line-height: 1.0;
}

/* awesome font icon */
.fa { 
           color: #f6f942;  /* Maximum Yellow */
 text-decoration: none;
} 

/*----------------------------------------------------------------*/
/* Footer                                                         */ 
/*----------------------------------------------------------------*/
footer {
 background-color: #747e8f;    /*Slate Grey */  
       min-height: 60px;
}

.list-band-social-group {
    padding: 20px;
 text-align: center;
}

.list-band-social-link {
   color: #f6f942;  /* Maximum Yellow */
 padding: 10px;
}

/*----------------------------------------------------------------*/
/* Navigation Menu                                                */ 
/*----------------------------------------------------------------*/
.nav-menu-color-home {
 background-color: #fa7921;    /* Princeton Orange */ 
}

.nav-menu-color-contact {
 background-color: #6fa032;    /* Palm Leaf */ 
}

.nav-menu-color-discography {
 background-color: #005b87;    /* Sea Blue */  
}

.nav-menu-color-videology {
 background-color: #747e8f;    /*Slate Grey */           
}

.menuitem {
      font-family: "Verdana", sans-serif;
       min-height: 60px;
       text-align: center;
  text-decoration: none;
}

.menuitem a {
           color: #f6f942;  /* Maximum Yellow */
         height: 60px;
           width: 100%;
 text-decoration: none; 
}

.menuitem a i {
       color: #f6f942;  /* Maximum Yellow */
     display: block;
 padding-top: 5px; 
}

.hvr-sweep-to-bottom:before {
     background: rgba(0,0,0,0.2);
} 

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

/*----------------------------------------------------------------*/
/* Heading (Welcome)                                              */ 
/*----------------------------------------------------------------*/
.welcome-heading {
      text-align: center;
 text-decoration: none;
}

.welcome-title {
     font-family: "Roboto", sans-serif;
     font-weight: bold;
           color: #f6f942;  /* Maximum Yellow */
 text-decoration: none;
} 

.photo-top {
          background: url("../images/Website/Yello-photo-merged.jpg");
 background-position: center; 
   background-repeat: no-repeat;
     background-size: cover;
          min-height: 330px; 
             padding: 0;
          transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}  

/*----------------------------------------------------------------*/
/* Heading (Biography)                                            */ 
/*----------------------------------------------------------------*/
.biography-heading {
      font-family: "Verdana", sans-serif;
        font-size: 36px;
      font-weight: bold;
  text-decoration: none;
}

.biography-text {
   font-family: "Verdana", sans-serif;
     font-size: 14px;
   line-height: normal;
   padding-top: 20px;
 padding-right: 0;
    text-align: left;
}

/*----------------------------------------------------------------*/
/*  Heading (Band Infomation)                                     */ 
/*----------------------------------------------------------------*/
.band-heading {
     font-family: "Verdana", sans-serif;
       font-size: 36px;
     font-weight: bold;
 text-decoration: none;
}

.band-text {
 font-family: "Verdana", sans-serif;
   font-size: 14px !important; /* overrides inherited value /*
 padding-top: 20px;
  text-align: left;
}

/*----------------------------------------------------------------*/
/* Heading (Welcome)                                              */ 
/*----------------------------------------------------------------*/
.welcome-heading {
      text-align: center;
 text-decoration: none;
}

.welcome-title {
     font-family: "Roboto", sans-serif;
     font-weight: bold;
           color: #f6f942;  /* Maximum Yellow */
 text-decoration: none;
} 
