.container-fluid {
 padding: 0;
}

/*----------------------------------------------------------------*/
/*  Heading (Discography Page Sub Menu)                           */ 
/*----------------------------------------------------------------*/
.discography-page-submenu {
 font-family: "Verdana", sans-serif;
   font-size: 14px;
 padding-top: 15px;
  text-align: center;
}

/*----------------------------------------------------------------*/
/*  Buttons (Discography Page Sub Menu)                           */ 
/*----------------------------------------------------------------*/
.btn {
           border: 1px solid #f6f942;  /* Maximum Yellow */
 background-color: #005b87;            /* Sea Blue */  
    border-radius: 0px;  
            color: #f6f942;            /* Maximum Yellow */
          display: inline-block;
      font-family: "Verdana", sans-serif;
        font-size: 14px; 
}

.btn:hover {
           color: #ffffff;
 text-decoration: none;
}

/*----------------------------------------------------------------*/
/*  Heading (Discography Infomation)                              */ 
/*----------------------------------------------------------------*/
.discography-miscellaneous-heading {
     font-family: "Verdana", sans-serif;
       font-size: 28px;
     font-weight: bold;
         padding: 15px;
 text-decoration: none;
}

.discography-miscellaneous-text {
  font-family: "Verdana", sans-serif;
    font-size: 10px !important; /* overrides inherited value */
 padding-left: 15px;
  padding-top: 15px;
   text-align: left;
}

.covers-album {
 padding-top: 15px;  
}
